*.py[cod]
.hgignore~
.gitignore~
.hg/
.git/
.tox

example/
example/db/
example/tmp/
builddocs/
build_docs.sh
builddocs.zip
build/
dist/
release/
src/starbase.egg-info
src/starbase/client/scanner_test.py
src/starbase/client/speed_test.py
src/starbase/requirements.txt
src/starbase/server/
src/starbase/conf.py
MANIFEST.in~
src/starbase/client/__init__.rst
hadoop/
conf.py.dist
run_dummy_server.sh
source_install.sh
speed_test.sh
todos.rst
build_docs.sh
rebuild_docs.sh
README_old.rst
starbase_guest_article_for_cloudera*