*.py[cod]
.hgignore~
.gitignore~
.hg/
.git/

example/
example/db/
example/tmp/
builddocs/
build_docs.sh
builddocs.zip
build/
dist/
src/starbase.egg-info
src/starbase/client/scanner_test.py
src/starbase/client/speed_test.py
src/starbase/requirements.txt
src/starbase/server/
src/starbase/conf.py
MANIFEST.in~
src/starbase/client/__init__.rst
hadoop/
conf.py.dist
install.sh
run_dummy_server.sh
source_install.sh
speed_test.sh
todos.rst
uninstall.sh
build_docs.sh
rebuild_docs.sh
